body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
.poster{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, #8a2be2, #000000);
    color: white;
    text-align: center;
}
.title{
    font-size: 40px;
    font-weight: bold;
}    
.quote{
    font-size: 24px;
    font-style: italic;
    margin: 10px 0;
}
.author{
    font-size: 30px;
    font-weight: lighter;
}
